@model List<Edukator.EntityLayer.Concrete.Course>
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Kurslar</h6>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Kurs Adı</th>   
                    <th scope="col">Fiyat</th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Sil</th>
                    <th scope="col">Güncelle</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.CourseID</th>
                        <td>@item.Title</td>
                        <td>@item.Price ₺</td>
                        <td>@item.Category.CategoryName</td>
                        <td><a href="/Course/DeleteCourse/@item.CourseID" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/Course/UpdateCourse/@item.CourseID" class="btn btn-outline-success">Güncelle</a></td>


                    </tr>
                }
            </tbody>
        </table>
        <a href="/Course/AddCourse" class="btn btn-primary">Yeni Kurs Girişi</a>
    </div>
</div>
