<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Edukator</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/dashmin/img/erhan (2).jpeg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Erhan Gündüz</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Dashboard/Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/Category/Index" class="nav-link"><i class="fa fa-list-ol me-2"></i>Kategoriler</a>
            <a href="/Course/Index" class="nav-item nav-link"><i class="fa fa-chalkboard me-2"></i>Kurslar</a>
            <a href="/User/Index" class="nav-item nav-link"><i class="fa fa-user-friends me-2"></i>Öğrenciler</a>
            <a href="/Statistics/Index" class="nav-item nav-link"><i class="fa fa-chart-pie me-2"></i>İstatistikler</a>
            <a href="/Contact/Index" class="nav-item nav-link"><i class="fa fa-comment me-2"></i>Mesajlar</a>
            <a href="/Subscriber/Index" class="nav-item nav-link"><i class="fa fa-mail-bulk me-2"></i>Aboneler</a>
            <a href="/Reference/Index" class="nav-item nav-link"><i class="fa fa-user-circle me-2"></i>Referanslar</a>
            <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Grafikler</a>
            <a href="chart.html" class="nav-item nav-link"><i class="fa fa-receipt me-2"></i>Raporlar</a>
            <a href="/Role/Index" class="nav-item nav-link"><i class="fa fa-user-edit me-2"></i>Roller</a>
            <a href="RoleAssign/Index" class="nav-item nav-link"><i class="fa fa-user-cog me-2"></i>Rol Atama</a>>
            <a href="chart.html" class="nav-item nav-link"><i class="fa fa-cog me-2"></i>Ayarlar</a>
            <a href="/ContactInfo/Index" class="nav-item nav-link"><i class="fa fa-phone-alt me-2"></i>İletişim Bilgileri</a>
            <a href="/Maps/Index" class="nav-item nav-link"><i class="fa fa-map me-2"></i>Harita</a>
            <a href="/SocialMedia/Index" class="nav-item nav-link"><i class="fa fa-network-wired me-2"></i>Sosyal Medya</a>
       
        </div>
    </nav>
</div>