@model List<Edukator.EntityLayer.Concrete.SocialMedia>
<footer class="w3l-footer-22 position-relative">
    <div class="footer-sub py-5">
        <div class="container py-md-5">
            <div class="row sub-columns">
                <div class="col-lg-4 col-md-6 sub-one-left ab-right-cont pr-lg-5 mb-md-0  mb-4">
                    <h6>Hakkımızda </h6>
                    <p>
                        Neredeyse Her Konuyla Ilgili Kursları Keşfedin.
                        Kişisel gelişiminiz ve kariyeriniz için sitemizdeki
                        kurslarla kendinizi geliştirin.

                    </p>
                    <div class="columns-2">
                        <ul class="social">
                            @foreach(var item in Model)
                            {
                            <li>
                                <a href="@item.SocialMediaURL" target="_blank"><span class="@item.SocialMediaIcon" aria-hidden="true"></span></a>
                            </li>
                            }
                         
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 sub-two-right pl-lg-5">
                    <h6>Yararlı Linkler</h6>
                    <ul>
                        <li>
                            <a href="index.html"><span class="fas fa-chevron-right mr-2"></span>Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="about.html"><span class="fas fa-chevron-right mr-2"></span>Hakkımızda</a>
                        </li>
                        <li><a href="courses.html"><span class="fas fa-chevron-right mr-2"></span>Kurslar</a></li>
                        <li><a href="contact.html"><span class="fas fa-chevron-right mr-2"></span>İletişim</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 sub-two-right pl-lg-5 mt-md-0 mt-4">
                    <h6>Yardım & Destek</h6>
                    <ul>
                        <li>
                            <a href="#live">
                                <span class="fas fa-chevron-right mr-2"></span>Canlı Sohbet
                            </a>
                        </li>
                        <li>
                            <a href="#faq"><span class="fas fa-chevron-right mr-2"></span>SSS</a>
                        </li>
                        <li>
                            <a href="#support"><span class="fas fa-chevron-right mr-2"></span>Destek</a>
                        </li>
                        <li>
                            <a href="#terms">
                                <span class="fas fa-chevron-right mr-2"></span>Hizmet Şartları
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 sub-two-right mt-md-0 mt-4">
                    <h6>Araştırma</h6>
                    <ul>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Akademik Bölümler</a>
                        </li>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Öğrenci Araştırmaları</a>
                        </li>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Merkezler & Enstitüler</a>
                        </li>
                        <li><a href="#"><span class="fas fa-chevron-right mr-2"></span> Araştırma Hizmetleri</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- copyright -->
    <div class="copyright-footer text-center">
        <div class="container">
            <div class="columns">
                <p>
                    © @DateTime.Now.Year Edukator. Tüm Hakları Saklıdır. Design by<a href="https://w3layouts.com/" target="_blank">
                        W3layouts
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- //copyright -->
</footer>