
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_HeadPartial")

<body>
    @await Component.InvokeAsync("_NavbarPartial")

    @await Component.InvokeAsync("_FeaturePartial")

    @await Component.InvokeAsync("_ServicePartial")
  
    <!--/about-section -->
    @await Component.InvokeAsync("_AboutPartial")
 
    <!--/home-stats-->
    @await Component.InvokeAsync("_StatisticsPartial")
  
    <!--/popular-Courses-->
    @await Component.InvokeAsync("_CoursePartial")
   
    <!--/testimonials-->
    <section class="w3l-testimonials" id="testimonials">
        <!-- /grids -->
       @await Component.InvokeAsync("_ReferencePartial")
    
    </section>
  

    @await Html.PartialAsync("~/Views/Home/SubscribePartial.cshtml")
 
    <!--/footer-->
    @await Component.InvokeAsync("_FooterPartial")

    @await Component.InvokeAsync("_ScriptPartial")

</body>

</html>