@model List<Edukator.EntityLayer.Concrete.Map>

@foreach(var item in Model){
<div class="contacts-sub-5">
    <iframe src="@item.LocationURL"
            style="border:0" allowfullscreen></iframe>
</div>
}