@model RegisterViewModel
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Edukator Yeni Kayıt Sayfası</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Course Register Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			   function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //custom-theme -->
	<!-- css files -->
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<link href="~/web/css/style.css" type="text/css" rel="stylesheet" media="all">
	<!-- //css files -->

	<link rel="stylesheet" href="~/web/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->

</head>
<!-- body starts -->
<body>
	<!-- section -->
	<section class="register">
		<div class="register-full">
			<div class="register-left">
				<div class="register">
					<div class="logo">
						<a href="#"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
					</div>
					<h1>Kurslarımıza Kaydolun</h1>
					<p>
						Alanında uzman eğitmenlerin hazırladığı yazılımdan teknolojiye, grafik tasarımdan animasyona, İngilizce'den matematiğe kadar onlarca farklı kategoride en güncel içeriklere hazırız.
					</p>
					<div class="content3">
						<ul>
							<li><a class="" href="/Login/Index"> Giriş Yap</a></li>
							<li><a class="read" href="/Home/Index"> Kursları Gör</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="register-right">
				<div class="register-in">
					<h2><span class="fa fa-pencil"></span>Hemen Kaydolun</h2>
					<div class="register-form">
						<form method="post">
							<div class="fields-grid">
								<div class="styled-input agile-styled-input-top">
									<input type="text" asp-for="Name" required="">
									<label>Adınız</label>
									<span></span>
									</div>
									<div class="styled-input agile-styled-input-top">
										<input type="text" asp-for="Surname" required="">
										<label>Soyadınız</label>
										<span></span>
								</div>
								
								<div class="styled-input">
									<input type="text" name="Username" required="">
									<label>Kullanıcı Adınız</label>
									<span></span>
								</div>
									<div class="styled-input">
										<input type="email" asp-for="Email" required="">
										<label>Email Adresiniz</label>
										<span></span>
									</div>
								<div class="styled-input">
									<input type="password" asp-for="Password" required="">
									<label>Şifreniz</label>
									<span></span>
								</div>
								<div class="styled-input agile-styled-input-top">
									<select id="category2" required="" asp-for="City">
										<option value="">Şehir Seçiniz*</option>
										<option value="Adana">Adana</option>
										<option value="Adıyaman">Adıyaman</option>
										<option value="Afyonkarahisar">Afyonkarahisar</option>
										<option value="Ağrı">Ağrı</option>
										<option value="Aksaray">Aksaray</option>
										<option value="Amasya">Amasya</option>
										<option value="Ankara">Ankara</option>
										<option value="Antalya">Antalya</option>
										<option value="Ardahan">Ardahan</option>
										<option value="Artvin">Artvin</option>
										<option value="Aydın">Aydın</option>
										<option value="Balıkesir">Balıkesir</option>
										<option value="Bartın">Bartın</option>
										<option value="Batman">Batman</option>
										<option value="Bayburt">Bayburt</option>
										<option value="Bilecik">Bilecik</option>
										<option value="Bingöl">Bingöl</option>
										<option value="Bitlis">Bitlis</option>
										<option value="Bolu">Bolu</option>
										<option value="Burdur">Burdur</option>
										<option value="Bursa">Bursa</option>
										<option value="Çanakkale">Çanakkale</option>
										<option value="Çankırı">Çankırı</option>
										<option value="Çorum">Çorum</option>
										<option value="Denizli">Denizli</option>
										<option value="Diyarbakır">Diyarbakır</option>
										<option value="Düzce">Düzce</option>
										<option value="Edirne">Edirne</option>
										<option value="Elazığ">Elazığ</option>
										<option value="Erzincan">Erzincan</option>
										<option value="Erzurum">Erzurum</option>
										<option value="Eskişehir">Eskişehir</option>
										<option value="Gaziantep">Gaziantep</option>
										<option value="Giresun">Giresun</option>
										<option value="Gümüşhane">Gümüşhane</option>
										<option value="Hakkâri">Hakkâri</option>
										<option value="Hatay">Hatay</option>
										<option value="Iğdır">Iğdır</option>
										<option value="Isparta">Isparta</option>
										<option value="İstanbul">İstanbul</option>
										<option value="İzmir">İzmir</option>
										<option value="Kahramanmaraş">Kahramanmaraş</option>
										<option value="Karabük">Karabük</option>
										<option value="Karaman">Karaman</option>
										<option value="Kars">Kars</option>
										<option value="Kastamonu">Kastamonu</option>
										<option value="Kayseri">Kayseri</option>
										<option value="Kırıkkale">Kırıkkale</option>
										<option value="Kırklareli">Kırklareli</option>
										<option value="Kırşehir">Kırşehir</option>
										<option value="Kilis">Kilis</option>
										<option value="Kocaeli">Kocaeli</option>
										<option value="Konya">Konya</option>
										<option value="Kütahya">Kütahya</option>
										<option value="Malatya">Malatya</option>
										<option value="Manisa">Manisa</option>
										<option value="Mardin">Mardin</option>
										<option value="Mersin">Mersin</option>
										<option value="Muğla">Muğla</option>
										<option value="Muş">Muş</option>
										<option value="Nevşehir">Nevşehir</option>
										<option value="Niğde">Niğde</option>
										<option value="Ordu">Ordu</option>
										<option value="Osmaniye">Osmaniye</option>
										<option value="Rize">Rize</option>
										<option value="Sakarya">Sakarya</option>
										<option value="Samsun">Samsun</option>
										<option value="Siirt">Siirt</option>
										<option value="Sinop">Sinop</option>
										<option value="Sivas">Sivas</option>
										<option value="Şanlıurfa">Şanlıurfa</option>
										<option value="Şırnak">Şırnak</option>
										<option value="Tekirdağ">Tekirdağ</option>
										<option value="Tokat">Tokat</option>
										<option value="Trabzon">Trabzon</option>
										<option value="Tunceli">Tunceli</option>
										<option value="Uşak">Uşak</option>
										<option value="Van">Van</option>
										<option value="Yalova">Yalova</option>
										<option value="Yozgat">Yozgat</option>
										<option value="Zonguldak">Zonguldak</option>

									</select>
									<span></span>
								</div>
								<div class="clear"> </div>
								<label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Kullanım Şartlarını Okudum <a href="#">Kabul Ediyorum.</a></label>
							</div>

							<div style="color:red" asp-validation-summary="ModelOnly"></div>
							
							<input type="submit" value="Kaydol">
						</form>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
			<div class="clear"> </div>
		</div>
		<!-- copyright -->
		<p class="agile-copyright">© @DateTime.Now.Year Edukator Kayıt Formu. Tüm Hakları Saklıdır | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
		<!-- //copyright -->
	</section>
	<!-- //section -->
</body>
<!-- //body ends -->
</html>