@model Edukator.EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "GetMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="bg-light rounded h-100 p-4 col-xl-12">
    <h6 class="mb-4">Gelen Mesaj</h6>
    <form method="get">
        <input type="hidden" asp-for="ContactID" />
        <div class="mb-3">
            <label for="namesurname" class="form-label">Ad Soyad</label>
            <input type="text" class="form-control" id="namesurname" asp-for="NameSurname" />
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Konu</label>
            <input type="text" class="form-control" id="subject" asp-for="Subject" />
        </div>
        <div class="mb-3">
            <label for="mail" class="form-label">E-Mail</label>
            <input type="text" class="form-control" id="mail" asp-for="Mail" />
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Telefon</label>
            <input type="text" class="form-control" id="phone" asp-for="Phone" />
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Mesaj</label>
           @Html.TextAreaFor(x=>x.Message, new {@class="form-control"})
        </div>


        <a href="/Contact/Index/" class="btn btn-primary">Mesajlara Dön</a>
    </form>
</div>


