@model Edukator.EntityLayer.Concrete.ContactInfo
@{
    ViewData["Title"] = "AddContactInfo";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="bg-light rounded h-100 p-4 col-xl-12">
    <h6 class="mb-4">İletişim Bilgileri Ekleme Sayfası</h6>
    <form method="post">

        <div class="mb-3">
            <label for="address1" class="form-label">Adres 1</label>
            <input type="text" class="form-control" id="address1" asp-for="Address1" />
        </div>
        <div class="mb-3">
            <label for="address2" class="form-label">Adres 2</label>
            <input type="text" class="form-control" id="address2" asp-for="Address2" />
        </div>
        <div class="mb-3">
            <label for="mail1" class="form-label">E-Mail 1</label>
            <input type="text" class="form-control" id="mail1" asp-for="Mail1" />
        </div>
        <div class="mb-3">
            <label for="mail2" class="form-label">E-Mail 2</label>
            <input type="text" class="form-control" id="mail2" asp-for="Mail2" />
        </div>
        <div class="mb-3">
            <label for="phone1" class="form-label">Telefon 1</label>
            <input type="text" class="form-control" id="phone1" asp-for="Phone1" />
        </div>
        <div class="mb-3">
            <label for="phone2" class="form-label">Telefon 2</label>
            <input type="text" class="form-control" id="phone2" asp-for="Phone2" />
        </div>

        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>
